<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!-- 페이지 컨트롤러 서블렛 설정 -->
  <!--
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>web_presentation.page_controller.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>artist</servlet-name>
    <servlet-class>web_presentation.page_controller.ArtistController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>album</servlet-name>
    <jsp-file>/jsp/controller/AlbumController.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>artist</servlet-name>
    <url-pattern>/artist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>album</servlet-name>
    <url-pattern>/album</url-pattern>
  </servlet-mapping>
  -->

  <!-- 프론트 컨트롤러 서블렛 설정 -->
  <!-- <servlet>
    <servlet-name>front</servlet-name>
    <servlet-class>web_presentation.front_controller.FrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>front</servlet-name>
    <url-pattern>/front/*</url-pattern>
  </servlet-mapping> -->

  <!--템플릿 뷰 서블렛 설정-->
  <!-- <servlet>
    <servlet-name>artist</servlet-name>
    <servlet-class>web_presentation.templete_view.ArtistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artist</servlet-name>
    <url-pattern>/templete/artist</url-pattern>
  </servlet-mapping> -->

  <!-- 변환 뷰의 프론트 컨트롤러 서블렛 설정 -->
  <servlet>
    <servlet-name>front</servlet-name>
    <servlet-class>web_presentation.transform_view.FrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>front</servlet-name>
    <url-pattern>/front/*</url-pattern>
  </servlet-mapping>
</web-app>
